/*
   Busca:
   a. Body
   b. Header
   c. Main

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. Body
/* ------------------------------------------------------------------ */

.body-page { 
    background-color: #eee;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1em;
    color: #23292f;

}

.grupos-h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2F4F4F;
    text-shadow: 2px 2px 2px #999;
}
    

/* ------------------------------------------------------------------ */
/* b. Header
/* ------------------------------------------------------------------ */


.nav {
    list-style: none; 
    float: left; 
}

.nav li {
    position:relative; 
    float:left; 
    background-color: #008B8B;
    margin-left: 1em;
}

.nav li a {
    color: #2F4F4F; 
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}
 
.nav li a:hover{
    background: #20B2AA; 
    color: #fff; 
    -moz-box-shadow: 0 3px 10px 0 #CCC; 
    -webkit-box-shadow: 0 3px 10px 0 #ccc; 
    
} 

.nav li ul{
    position: absolute; 
    top: 25px; 
    left: 0;
    background-color: #fff; 
    display: none;
    }   


/* ------------------------------------------------------------------ */
/* c. Main
/* ------------------------------------------------------------------ */


.item-wrap { 
    display: table;
    background-color: #fff;
    width: 94%;
    margin-left: 3%;
    box-shadow: #999 0.5em 0.5em 0.3em;
    border-radius: 1em;
}

.clear { clear: both; }

#introducao .grupos-textE { float: left; width: 60%; margin-left: 2em}
#introducao .grupos-imgD { float: right; width: 30%; margin: 2em; margin-right: 3em}
#introducao .grupos-imgD img {width: 400px; height: auto; }

#objetivos .grupos-imgE { float: left; width: 30%; margin: 2em; }
#objetivos .grupos-imgE img {max-width: 400px; height: auto;}
#objetivos .grupos-textD { float: right; width: 60%; margin-right: 2em}

#esquema .grupos-textE { float: left; width: 60%; margin-left: 2em}
#esquema .grupos-imgD { float: right; width: 30%; margin: 2em; margin-right: 3em}
#esquema .grupos-imgD img {width: 400px; height: auto;}

#materiais .grupos-imgE { float: left; width: 30%; margin: 2em; }
#materiais .grupos-imgE img {max-width: 400px; height: auto;}
#materiais .grupos-textD { float: right; width: 60%; margin-right: 2em}

#resultados .grupos-textE { float: left; width: 60%; margin-left: 2em}
#resultados .grupos-imgD { float: right; width: 30%; margin: 2em; margin-right: 3em}
#resultados .grupos-imgD img {width: 400px; height: auto;}

#desafios .grupos-imgE { float: left; width: 30%; margin: 2em; }
#desafios .grupos-imgE img {max-width: 400px; height: auto;}
#desafios .grupos-textD { float: right; width: 60%; margin-right: 2em}

#codigo .grupos-textE { float: left; width: 60%; margin-left: 2em}
#codigo .grupos-imgD { float: right; width: 30%; margin: 2em; margin-right: 3em; size: 20%}
#codigo .grupos-imgD img {width: 400px; height: auto;}
